# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env

# Airflow
airflow/logs/
airflow/airflow.db
airflow/webserver_config.py

# Local data
data/
C:\KLTN2\data\raw/

# HuggingFace cache
.cache/huggingface/

# MinIO volumes
minio-data/

# Trino storage
trino/data/

# Docker volumes
volumes/
*.log

# IDE
.vscode/
.idea/
.DS_Store
