# Python
__pycache__/
*.py[cod]
*.egg-info/

# Env / secrets
.env
.env.* 
venv/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/webserver_config.py

# Raw & cache
data/
raw/
cache/
.cache/
cache/huggingface/

# Docker volumes
minio-data/
metabase-data/
postgres-db-volume/
trino/data/
volumes/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

